@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

$primary-color: #2b3743;
$secondary-color: #212e37;
$accent-color: #3d4d5d;
$color-white: white;
$light-text-color: #868686;

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $secondary-color;

  .main-container {
    .nav-bar {
      padding: 20px 70px;
      display: flex;
      justify-content: space-between;
      background-color: $primary-color;
      color: $color-white;
      font-weight: 600;

      .logo {
        a {
          color: $color-white;
          font-weight: 600px;
          text-decoration: none;
        }
      }

      a.mode-button {
        background-color: $primary-color;
        color: $color-white;
        border: 0;
        line-height: 18px;
        text-decoration: none;

        img {
          height: 11px;
          width: 28px;
        }
      }

      @media screen and (max-width: 768px) {
        .dark-light span {
          display: none;

        }
      }
    }

    .hero-section {
      background-color: $secondary-color;
      padding: 45px 65px 45px 65px;

      .search-sections {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .search-container {
          display: flex;
          align-items: center;
          gap: 5px;
          width: 397px;
          height: 40px;
          padding: 5px 20px;
          background-color: $primary-color;
          border-radius: 4px;

          img {
            width: 25px;
            height: 24px;
            color: $color-white;
          }

          .search-input {
            background-color: $primary-color;
            border: 0;
            border-radius: 4px;

            &:focus {
              outline: none;
              color: $color-white;
            }

            &::placeholder {
              color: $color-white;
              font-size: 12px;
            }
          }

          @media screen and (max-width: 768px) {
            width: 337px;
          }

          @media screen and (max-width: 395px) {
            width: 200px;
          }
        }

        .search-container-b {
          position: relative;

          .dropdown-button {
            background-color: $primary-color;
            color: $color-white;
            display: flex;
            padding: 25px;
            align-items: center;
            border: 1px;
            cursor: pointer;
            height: 40px;
            width: 181px;
          }

          .dropdown-content {
            display: none;
            position: absolute;
            background-color: $primary-color;
            width: 180px;
            z-index: 1;
            border: 2px;
            border-radius: 4px;
            margin: 3px;

            a {
              color: $color-white;
              padding: 12px 16px;
              text-decoration: none;
              display: block;

              &:hover {
                background-color: $accent-color;
              }
            }
          }

          &:hover .dropdown-content {
            display: block;
          }
        }

        @media screen and (max-width: 768px) {
          flex-direction: column;
          gap: 20px;
        }
      }


      .flag-container {
        width: 265px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 60px;
        padding: 50px 0px;


        .f-cards {
          background-color: $primary-color;
          border-radius: 4px;
          display: flex;
          flex-direction: column;

          .flag-country {
            img {
              width: 330px;
              height: 180px;
              object-fit: cover;
            }
          }

          .country-details {
            color: white;
            padding: 22px 42px 0px 18px;

            h2 {
              padding: 2px;
              margin: 0px;
              font-size: 16px;
            }

            .description {
              list-style: none;
              padding: 0px;
              font-size: 12px;

              li {
                padding-bottom: 15px;
              }
            }
          }
        }

        @media screen and (max-width: 1200px) {
          grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (max-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 480px) {
          grid-template-columns: 1fr;

        }
      }

      @media screen and (max-width: 768px) {
        max-width: 0px;
        padding: 15px 29px 15px 29px;
      }
    }
  }
}